@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Shadows+Into+Light&display=swap");

:root {
  --orange: rgb(203, 101, 38);
  --pop: Poppins;
  --shd: "Shadows Into Light";
  --bgc: #b1b1b1;
  --ng: rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  border: none;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../assets/images/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: max-content;
}

/* navbar start */
.container-navigation-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s;
  z-index: 9999;
  transition: all 1s;
  backdrop-filter: blur(4px);
}

.container-navigation-bar .logo h1 {
  font-size: 25px;
  font-family: var(--shd);
  color: #fff;
}

.list-item-navbar {
  display: flex;
}

.list-item-navbar a {
  color: black;
  font-family: var(--pop);
  font-size: 18px;
  color: #fff;
}

.list-item-navbar li {
  transition: all 0.5s;
  margin: 0px 10px;
}

.list-item-navbar li:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .hidden {
    display: block;
  }
  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .list-item-navbar {
    position: fixed;
    height: 50vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    top: 50px;
    left: 0;
    flex-direction: column;
    transition: transform 1s;
    transform: translate(-100%);
    backdrop-filter: blur(5px);
  }
}
/* navbar end */

/* home start */
section#home {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-contain-home {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0);
  transition: transform 1.5s;
  z-index: 0;
  text-align: center;
}

#home h1,
#home p {
  font-family: var(--shd);
  color: #fff;
}

#home h1 {
  font-size: 50px;
}

#home p {
  font-size: 40px;
  font-weight: bold;
}

#home a {
  font-family: var(--pop);
  color: #fff;
}

#home button {
  width: 250px;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  background-color: #009688;
  font-size: 18px;
  font-family: var(--pop);
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #home h1 {
    font-size: 30px;
  }

  #home p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  #home h1 {
    font-size: 25px;
  }

  #home p {
    font-size: 18px;
    font-weight: bold;
  }
}
/* home end */

/* gallery start */
#gallery {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.107);
}

.contain-slider {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  width: 60%;
}

.slider-img {
  width: 100%;
}

.left,
.right {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff3e;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .slider-img {
    width: 100%;
    border: 1px solid purple;
  }
  .contain-slider {
    width: 100%;
  }
  .left,
  .right {
    width: 20px;
    height: 30px;
  }
}
/* gallery end */

/* about start */
section#about {
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.32);
  padding-bottom: 30px;
}

.contain-about {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 20px;
}

.contain-about .logoExs {
  border-radius: 20px;
  border: 5px solid #fff;
}

.detail li {
  color: #fff;
  font-family: var(--pop);
  font-size: 18px;
  padding: 10px 0px;
}

@media screen and (max-width: 1000px) {
  .contain-about {
    height: max-content;
  }

  .contain-about img {
    border-radius: 20px;
    border: 3px solid #fff;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .contain-about {
    width: 240px;
  }

  .contain-about img {
    height: 250px;
  }

  .detail li {
    font-size: 15px;
  }

  .contain-about .detail {
    width: 1000px;
  }
}

@media screen and (max-width: 400px) {
  .contain-about img {
    height: 180px;
  }

  .detail li {
    color: #fff;
    font-family: var(--pop);
    font-size: 13px;
    padding: 10px 0px;
  }
}
/* about end */
